.nav-link {
    text-decoration: none;
    font-size: 16px;
    color: white;
    transition: color 0.2s;
}

.nav-link:hover {
    color:  #d60000;
}

.nav-link-burger {
    text-decoration: none;
    font-size: 16px;
    color: #d60000;
    transition: color 0.2s;
}

.nav-link-burger:hover {
    color:  #d60000;
}